* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
}

/* Diseño del header */
#header {
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    text-align: center;
    border-bottom: 2px solid #000;
}

.behind-screens-logo {
    width: 800px;
    height: auto;
}

/* Estilo de la barra de navegación */
.navBar-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

li {
    padding: 8px 16px;
    background: #FFA0DF;
    border-radius: 30px;
    font-size: 16px;
}

/* Barra de búsqueda ocupando todo el ancho */
.search-container {
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

.search-1 {
    width: 100%;
    max-width: 800px; /* Ajustar el tamaño máximo del input */
    height: 40px;
    background: #FFFFFF;
    color: #C0C0C0;
    border: 1px solid #232323;
    border-radius: 20px;
    font-size: 18px;
}

/* Nueva sección de películas */
.movie-section {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
}

.movie-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas */
    grid-template-rows: repeat(2, auto); /* 2 filas */
    gap: 15px;
    justify-content: center;
}

.movie-item img {
    width: 250px; /* Ancho de los posters */
    height: 372px; /* Alto de los posters */
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-item img:hover {
    transform: scale(1.05); /* Efecto de agrandamiento */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
